$Gray100:#10161C;
$Gray80:#12191F;
$Gray60:#192732;
$Gray40:#4C5B66;
$Gray10:#95A1A9;
$Gray5:#DBE1E6;
$Gray0:#F9F9F9;
$White100:#FFFFFF;
$White72:rgba(255, 255, 255, 0.72);
$White40:rgba(255, 255, 255, 0.40);
$White12:rgba(255, 255, 255, 0.12);
$Primary100:#FAD61B;
$Primary50:#FAEA1B;
$Primary20:#FFF356;
$Primary10:#FFF795;
$Primary5:#FFFBCA;
$Primary0:#FFFEEC;